<mat-card class = "mat-car-style"
 *ngFor="let product of productList.productList">
    {{ product.name }} 
    
   <div> Type: {{getTypeList(product)}}</div>
  </mat-card>
  
  <div class="create">
    <button (click)="openCreateProduct()" class="btn btn-default ">
      Create Product
    </button>
  </div>
  