.mat-car-style {
    border: 4px double rgb(138, 208, 236);
    background: rgb(132, 240, 240);
    padding: 20px;
    width: 281px;
    word-wrap: break-word;
    display: inline-block;
    padding: 30px 25px;
    font-size: 16px;
    margin: 30px; 
    line-height: 2.428571;
    margin-top: 90px;
  }
  .create{
    border: 2px double rgb(138, 208, 236);
    width: 8%;
  }