<body class = "overlay">
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup" class="create-card">
    <h4>Create Product</h4>
    <div class="my-div1">
      <input
        type="text"
        class="myForm"
        placeholder="Name"
        formControlName="name"
      />
      <div class = "my-div2">
      <ng-select class = "selelction"[multiple] = "true" formControlName = "productTypeIdList" placeholder = "">
        <ng-option *ngFor = "let productType of productTypeList.productTypeList" [value] = "productType.id">
          {{productType.typeName}}
        </ng-option>
      </ng-select>
    </div>
    </div>
    <div class = "buttdiv" >
    <button (click)="onSubmit()" type="submit" class="paypal-btn">
      Create
    </button>
    <button mat-dialog-close>Cancel</button>
  </div>
  </form>
</mat-dialog-content>
</body>