.my-div2
{
    border: 1px #969696 solid;
    background-color: aliceblue;
    width: 92%;
    margin-left: 4%;
}
.mat-typography {
    position: absolute;
    background: none;
    background: rgba(208, 252, 255, 0.88);
    padding: 5px;
    width: 25%;
    width: 26%;
    height: 308px;
    margin-left: 35%;
    border: 3px #cccccc solid;
    border-radius: 24px;
    padding: 0px 150px;
    text-align: center;
  }
  .overlay {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding-top:10%;
  }
  .buttdiv
  {
      margin-top: 50%;
  }
  .ng-dropdown-panel{
    position: unset;
    margin-top: 15%;
  }
